CompileFlags:
  Add: [-Wall, -Wextra, -Werror, -std=c++98, --analyze]
  Compiler: c++

Diagnostics:
  ClangTidy:
    Add: "*"
    Remove: [
      "llvmlibc*",
      "cppcoreguidelines-prefer-member-initializer",
      "fuchsia-overloaded-operator",
      "cert-dcl21-cpp",
      "google-explicit-constructor",
      "hicpp-explicit-conversions",
      "cppcoreguidelines-non-private-member-variables-in-classes",
      "misc-non-private-member-variables-in-classes",
      "google-runtime-int",
      "hicpp-special-member-functions",
      "cppcoreguidelines-special-member-functions",
      "google-build-explicit-make-pair",
      "modernize-use-auto",
      "hicpp-use-auto",
      "fuchsia-default-arguments-declarations",
      "altera-unroll-loops",
      "altera-id-dependent-backward-branch",
	  "google-readability-todo"
    ]
