CompileFlags:
  Add: [-Wall, -Wextra, -Werror, -std=c++98, --analyze]
  Compiler: c++

Diagnostics:
  ClangTidy:
    Add: "*"
    Remove: [
      "llvmlibc*",
      "cppcoreguidelines-prefer-member-initializer",
      "fuchsia-overloaded-operator",
      "cert-dcl21-cpp",
      "google-explicit-constructor",
      "hicpp-explicit-conversions",
      "cppcoreguidelines-non-private-member-variables-in-classes",
      "misc-non-private-member-variables-in-classes",
      "google-runtime-int",
    ]
